<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.melgarejo.apptemplateslim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".presentation.AppTemplateSlimApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".presentation.landing.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.dashboard.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".presentation.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar.TranslucentStatusBar.Login"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".presentation.password.RecoverPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_recover_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.signup.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_sign_up"
            android:screenOrientation="portrait" />

    </application>

</manifest>